@{
    ViewData["Title"] = "Product Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.Name - $@product.Price</li>
        }
    </ul>
</body>
</html>
